.footer-section {
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.footer-img img {
    width: 200px;
}

.footer-text {
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-text p {
    cursor: pointer;
    font-size: 15px;
}

.footer-text p:hover {
    color: rgb(80, 181, 31);
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 90%;
    margin: auto;
}

.footer-credit {
    color: white;
}

.footer-social {
    margin-left: auto;
    width: 50%;
}

.footer-credit p {
    font-size: 12px;
    color: rgb(154, 152, 152);
}

.footer-social img {
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    width: 20px;
    cursor: pointer;
}

.footer-social img:hover {
    background-color: rgb(80, 181, 31);
}

@media screen and (max-width:650px) {
    .footer-info{
        grid-template-columns: 1fr;
    }
    .footer-img img{
        width: 50%;
        margin-left: 5rem;
        margin-right: auto;
        margin-top: 20px;
    }
    .footer-text p {
        font-size: 12px;
    }
    .footer-bottom {
        grid-template-columns: 1fr 150px;
        padding: 5px;
    }
    .footer-credit p{
        font-size: 7px;
    }
    .footer-social img{
        width: 14px;
    }
}