.nav-container{
    width: 90%;
    height: 60px;
    margin: auto;
    padding-bottom: 40px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-sec img{
    width: 270px;
    height: 90px;
}
.nav-links{
    display: flex;
    align-items:center;
    justify-content: center;
}
.nav-links a{
    font-weight: 500;
}
.icon{
 width: 35px;
 color: green;
 cursor: pointer;
 display: none;
 margin: 2px;
}
 
@media screen and (max-width: 650px) {
    .nav-container{
        height: 30px;
        position: sticky;
        top: 0;
        background-color: rgb(255, 255, 255);
    }
    .logo-sec img{
        width: 150px;
        height: 60px;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile {
        background-color: rgb(227, 249, 227);
        display: block;
        position: absolute;
        text-align: center;
        width: 90%;
        padding: 10px;
        top: 95px;
        right: 10px;
    }
    .nav-links-mobile a{
        display: block;
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 2px;
        
    }
    .icon{
        display: block;
    }
}