.my-item{
    width: 80%;
    margin: 1rem auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.my-item p{
text-align: center;
}
.my-item button{
    font-size: 12px;
}
#cancel-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.cancel-x-icon{
    width: 20px;
    margin-left: 15px;
}
@media screen and (max-width: 650px) {

    .my-item{
        width: 90%;
        margin: 2rem auto;
        display: block;
        text-align: center;
    }
    .my-item img{
        width: 100%;
    }
}