.signUp{
    background-color: rgb(80, 250, 80);
    width: 50%;
    margin: 2rem auto;
    padding: 20px;
}
.errors{
    text-align: center;
    width: 60%;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 199, 199);
    padding: 10px;
}
@media screen and (max-width: 650px) {
    .signUp{
        width: 80%;
    }
    .login-forum{
        width: 100%;
    }
    .login-forum input{
        font-size: 13px;
        width: 95%;
        height: 30px;
        padding: 5px;
    }
    #input-label{
        font-size: 13px;
        margin-left: 4px;
        
    }
    
}