.loader{
    width: 70%;
    margin: auto;   
}
.lds-hourglass {
    display: block;
    position: relative;
    width: 10%;
    height: 100px;
    margin:5rem auto;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(235, 255, 233);
    border-color: rgb(19, 250, 12) transparent rgb(26, 225, 26) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  @media screen and (max-width: 650px) {
    .lds-hourglass{
      width: 70%;
      margin: 2rem auto;
      height: 30px;
      margin-left: 6rem;
    }
  }